<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PUBG Mobile Terminator Challenge - Admin</title>
    <link rel="stylesheet" href="./css/admin.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <div id="form-wraper">
      <form id="form">
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>
                  <select name="teamSelect" id="teamSelect">
                    <option value="">Pilih Tim...</option>
                    <% participant.forEach(tim =>{ %>
                    <option value="<%=tim._id %>"><%=tim.teamName%></option>
                    <% }) %>
                  </select>
                </th>
                <th>
                  <p id="namaTeam">Nama Tim</p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label for="teamPlcPoint">Placement Pts</label>
                </td>
                <td>
                  <input
                    type="number"
                    name="teamKillPoint"
                    id="plc_pts"
                    value=""
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="playerKill">Player 1</label>
                </td>
                <td>
                  <input
                    type="number"
                    name="playerKill"
                    id="playerKill"
                    value=""
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="player2Kill">Player 2</label>
                </td>
                <td>
                  <input
                    type="number"
                    name="player2Kill"
                    id="player2Kill"
                    value=""
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="player3Kill">Player 3</label>
                </td>
                <td>
                  <input
                    type="number"
                    name="player3Kill"
                    id="player3Kill"
                    value=""
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="player4Kill">Player 4</label>
                </td>
                <td>
                  <input
                    type="number"
                    name="player4Kill"
                    id="player4Kill"
                    value=""
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="inGroup">Grup</label>
                </td>
                <td>
                  <select name="inGroup" id="inGroup">
                    <option value="Pilih Grup">Pilih Grup</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="qualifyToGrandFinal">Lolos Grand Final</label>
                </td>
                <td>
                  <input
                    type="checkbox"
                    name="qualifyToGrandFinal"
                    id="qualifyToGrandFinal"
                    value=""
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="confirmed">Dikonfirmasi</label>
                </td>
                <td>
                  <input
                    type="checkbox"
                    name="confirmed"
                    id="confirmed"
                    value=""
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <button id="update">UPDATE</button>
                  <button id="delete">DELETE</button>
                </td>
              </tr>
            </tbody>
          </table>

          <div id="gf">
            <table>
              <thead>
                <tr>
                  <th>Grandfinal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label for="GFteamPlcPoint">GF Placement Pts</label>
                  </td>
                  <td>
                    <input
                      type="number"
                      name="GFteamKillPoint"
                      id="GFplc_pts"
                      value=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="GFplayerKill">GF Player 1</label>
                  </td>
                  <td>
                    <input
                      type="number"
                      name="GFplayerKill"
                      id="GFplayerKill"
                      value=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="GFplayer2Kill">GF Player 2</label>
                  </td>
                  <td>
                    <input
                      type="number"
                      name="GFplayer2Kill"
                      id="GFplayer2Kill"
                      value=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="GFplayer3Kill">GF Player 3</label>
                  </td>
                  <td>
                    <input
                      type="number"
                      name="GFplayer3Kill"
                      id="GFplayer3Kill"
                      value=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="GFplayer4Kill">GF Player 4</label>
                  </td>
                  <td>
                    <input
                      type="number"
                      name="GFplayer4Kill"
                      id="GFplayer4Kill"
                      value=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="tournamentFirstWinner">Juara 1</label>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      name="tournamentFirstWinner"
                      id="tournamentFirstWinner"
                      value=""
                    />
                  </td>
                </tr>

                <tr>
                  <td>
                    <label for="tournamentSecondWinner">Juara 2</label>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      name="tournamentSecondWinner"
                      id="tournamentSecondWinner"
                      value=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="tournamentThirdWinner">Juara 3</label>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      name="tournamentThirdWinner"
                      id="tournamentThirdWinner"
                      value=""
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>

      <form id="tournament-form">
        <table>
          <thead>
            <tr>
              <th>Tournament</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label for="tournamentName">Nama Turnamen</label>
              </td>
              <td>
                <input type="text" name="tournamentName" id="tournamentName" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="tournamentFirstPrize">Hadiah Pertama</label>
              </td>
              <td>
                <input
                  type="number"
                  name="tournamentFirstPrize"
                  id="tournamentFirstPrize"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="tournamentSecondPrize">Hadiah Kedua</label>
              </td>
              <td>
                <input
                  type="number"
                  name="tournamentSecondPrize"
                  id="tournamentSecondPrize"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="tournamentThirdPrize">Hadiah Ketiga</label>
              </td>
              <td>
                <input
                  type="number"
                  name="tournamentThirdPrize"
                  id="tournamentThirdPrize"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="tournamentFee">Biaya Pendaftaran</label>
              </td>
              <td>
                <input type="number" name="tournamentFee" id="tournamentFee" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="registrationStart">Registrasi Mulai</label>
              </td>
              <td>
                <input
                  type="text"
                  name="registrationStart"
                  id="registrationStart"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="startDate">Tournamen Mulai</label>
              </td>
              <td>
                <input type="text" name="startDate" id="startDate" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="qualifierDay1">Qualifier Day 1</label>
              </td>
              <td>
                <input type="text" name="qualifierDay1" id="qualifierDay1" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="qualifierDay2">Qualifier Day 2</label>
              </td>
              <td>
                <input type="text" name="qualifierDay2" id="qualifierDay2" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="grandFinalDate">Grandfinal Mulai</label>
              </td>
              <td>
                <input type="text" name="grandFinalDate" id="grandFinalDate" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="showGroupStandings">Grup Standing Standing</label>
              </td>
              <td>
                <input
                  type="checkbox"
                  name="showGroupStandings"
                  id="showGroupStandings"
                  value=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="showGrandFinal">Grandfinal Standing</label>
              </td>
              <td>
                <input
                  type="checkbox"
                  name="showGrandFinal"
                  id="showGrandFinal"
                  value=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="showKillStanding">Kill Standing</label>
              </td>
              <td>
                <input
                  type="checkbox"
                  name="showKillStanding"
                  id="showKillStanding"
                  value=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="registrationClosed">Pendaftaran Tutup</label>
              </td>
              <td>
                <input
                  type="checkbox"
                  name="registrationClosed"
                  id="registrationClosed"
                  value=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <button id="update-tournament">UPDATE</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <script defer src="./js/admin.js"></script>
  </body>
</html>
