<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <title>PUBG Mobile Terminator Challenge - Log In</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <form id="login_form" action="/login" method="POST">
      <h2>Log In</h2>
      <input
        type="text"
        id="username"
        name="username"
        autofocus
        autocomplete="username"
        placeholder="Username"
      />
      <span class="error-msg">error</span>
      <input
        type="password"
        minlength="5"
        maxlength="10"
        id="password"
        name="password"
        autocomplete="current-password"
        placeholder="Password"
      />
      <span class="error-msg">error</span>
      <button id="submit-button" type="submit">Log In</button>
    </form>
    <script src="./js/login.js"></script>
  </body>
</html>
