<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PUBG Mobile Terminator Challenge - Redirect</title>
    <link rel="stylesheet" href="./css/redirect.css" />
  </head>
  <body>
    <div>
      <h1>Email Konfirmasi</h1>
      <h4>
        Kami telah mengirimkan email ke <span id="email">email anda</span> untuk
        mengkonfirmasi slot tim anda di Turnamen PUBG Mobile Terminator
        Challenge. Setelah menerima email ikuti instruksi yg diberikan untuk
        menyelesaikan pendaftaran
      </h4>
      <h4>
        Jika anda tidak mendapatkan email.
        <span id="sendEmail">Kirim ulang email konfirmasi</span>
      </h4>
      <a href="/">Kembali ke Home</a>
    </div>
    <script defer type="text/javascript" src="./js/redirect.js"></script>
  </body>
</html>
