<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PUBG Mobile Kupang Terminator Challenge - Pendaftaran</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>

  <body>
    <!-- NavBar -->
    <div
      class="navbar-responsive"
      style="background: #16191e70; box-shadow: none; margin-left: 0;"
    >
      <div class="tombolkembali">
        <a href="/"
          ><img src="./img/iconmonstr-arrow-left-thin-64.png" alt="" />
        </a>
      </div>
    </div>
    <!-- Pendaftaran -->
    <div class="form">
      <form
        class="kiri"
        id="registrationForm"
        action="/registration"
        method="POST"
        enctype="multipart/form-data"
      >
        <!--Info Team-->
        <h2 class="pendaftaran-title">Pendaftaran</h2>
        <div class="team">
          <h4>Data Team</h4>
          <div class="teamname">
            <label for="namaTeam">Nama Tim </label>
            <br />
            <input
              data-toggle="tooltip"
              data-placement="top"
              title="Masukan Nama Tim Anda"
              type="text"
              name="teamName"
              id="namaTeam"
              placeholder="Nama Tim"
              required
            />
            <span class="error-msg">error</span>
          </div>
          <div class="abbrteam">
            <label for="singkatanTeam">Abbr </label>
            <br />
            <input
              data-toggle="tooltip"
              data-placement="top"
              title="Masukan Singkatan Tim Anda"
              type="text"
              required
              name="singkatanTeam"
              id="singkatanTeam"
              maxlength="5"
              placeholder="ABBR"
            />
            <span class="error-msg">error</span>
          </div>
          <br />
          <div class="logo-input-wraper">
            <div class="logotim">
              <label for="logo">Logo Tim</label>
              <br />
              <input
                type="file"
                id="logo"
                title="Masukan Logo Anda (500 x 500px)"
                name="logo"
                accept="image/png"
              />
              <span class="error-msg">error</span>
              <div class="image-preview" id="imagePreview">
                <img
                  src=""
                  alt="Image Preview"
                  class="image-preview-image"
                  id="imagePreviewImage"
                />
              </div>
            </div>
            <div class="logo-req">
              <ul>
                <li>Logo Maks berukuran 500*500px</li>
                <li>Format logo .jpg/.png</li>
                <li>Ukuran file tidak boleh lebih dari 100kb</li>
              </ul>
            </div>
          </div>
        </div>

        <!--Roster-->
        <div class="roster">
          <h4>Data Pemain</h4>
          <ul>
            <li>
              <div class="id1">
                <label for="idPemain">ID In Game #1</label>
                <br />
                <input
                  onkeydown="return checkPhoneKey(event.key)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan ID In Game Anda"
                  type="text"
                  required
                  name="idPlayer"
                  id="idPemain"
                  placeholder="1234567890"
                  minlength="8"
                  maxlength="10"
                  pattern="[0-9]+"
                />
                <span class="error-msg">error</span>
              </div>
              <div class="player1">
                <label for="namaPemain">Nama Pemain #1</label>
                <br />
                <input
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan Nama In Game Anda"
                  type="text"
                  required
                  name="playerName"
                  maxlength="14"
                  id="namaPemain"
                  placeholder="Nick In Game"
                />
                <span class="error-msg">error</span>
              </div>
            </li>
            <li>
              <div class="id2">
                <label for="idPemain">ID In Game #2 </label>
                <br />
                <input
                  onkeydown="return checkPhoneKey(event.key)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan ID In Game Anda"
                  type="text"
                  required
                  name="idPlayer2"
                  id="idPemain2"
                  placeholder="1234567890"
                  minlength="8"
                  maxlength="10"
                  pattern="[0-9]+"
                />
                <span class="error-msg">error</span>
              </div>
              <div class="player2">
                <label for="namaPemain">Nama Pemain #2 </label>
                <br />
                <input
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan Nama In Game Anda"
                  type="text"
                  required
                  name="playerName2"
                  maxlength="14"
                  id="namaPemain2"
                  placeholder="Nick In Game"
                />
                <span class="error-msg">error</span>
              </div>
            </li>
            <li>
              <div class="id3">
                <label for="idPemain">ID In Game #3 </label>
                <br />
                <input
                  onkeydown="return checkPhoneKey(event.key)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan ID In Game Anda"
                  type="text"
                  required
                  name="idPlayer3"
                  id="idPemain3"
                  placeholder="1234567890"
                  minlength="8"
                  maxlength="10"
                  pattern="[0-9]+"
                />
                <span class="error-msg">error</span>
              </div>
              <div class="player3">
                <label for="namaPemain">Nama Pemain #3 </label>
                <br />
                <input
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan Nama In Game Anda"
                  type="text"
                  required
                  name="playerName3"
                  maxlength="14"
                  id="namaPemain3"
                  placeholder="Nick In Game"
                />
                <span class="error-msg">error</span>
              </div>
            </li>
            <li>
              <div class="id4">
                <label for="idPemain">ID In Game #4 </label>
                <br />
                <input
                  onkeydown="return checkPhoneKey(event.key)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan ID In Game Anda"
                  type="text"
                  required
                  name="idPlayer4"
                  id="idPemain4"
                  placeholder="1234567890"
                  minlength="8"
                  maxlength="10"
                  pattern="[0-9]+"
                />
                <span class="error-msg">error</span>
              </div>
              <div class="player4">
                <label for="namaPemain">Nama Pemain #4 </label>
                <br />
                <input
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan Nama In Game Anda"
                  type="text"
                  required
                  name="playerName4"
                  maxlength="14"
                  id="namaPemain4"
                  placeholder="Nick In Game"
                />
                <span class="error-msg">error</span>
              </div>
            </li>
          </ul>
        </div>

        <!--contact-->
        <div class="contact">
          <div class="noHP">
            <label for="noHP">Nomor HP (Aktif WA) </label>
            <br />
            <input
              onkeydown="return checkPhoneKey(event.key)"
              data-toggle="tooltip"
              data-placement="top"
              title="Masukan Nomor Handphone Yang Terhubung Dengan WA"
              type="tel"
              id="noHP"
              name="handphoneNumber"
              placeholder="+62"
              required
              minlength="11"
              maxlength="12"
              pattern="[0-9]+"
            />
            <span class="error-msg">error</span>
          </div>
          <div class="email">
            <label for="email">Email </label>
            <br />
            <input
              data-toggle="tooltip"
              data-placement="top"
              title="Masukan Email Anda"
              type="email"
              required
              id="email"
              name="email"
              placeholder="@gmail.com"
            />
            <span class="error-msg">error</span>
          </div>
        </div>
        <div class="submit">
          <input
            data-toggle="tooltip"
            dtoplacement="right"
            title="Pastikan Data Yang Anda Isi Adalah Benar"
            type="submit"
            value="DAFTAR"
            id="submit"
          />
        </div>
      </form>
    </div>

    <script defer type="text/javascript" src="./js/registration.js"></script>
  </body>
</html>
