<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PUBG Mobile Terminator Weekly Challenge - Pendaftaran</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://unpkg.com/filepond/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>

  <body>
    <!-- NavBar -->
    <div
      class="navbar-responsive"
      style="background: #16191e70; box-shadow: none; margin-left: 0;"
    >
      <div class="tombolkembali">
        <a href="/"
          ><img src="./img/iconmonstr-arrow-left-thin-64.png" alt="" />
        </a>
      </div>
    </div>
    <!-- Pendaftaran -->
    <%if(jumlahParticipant === 64){%>
    <div class="registration-closed">
      <h1 class="registration-closed-title">Registration Closed</h1>
    </div>
    <%}else{%>
    <div class="form">
      <form
        class="kiri"
        id="registrationForm"
        action="/registration"
        method="POST"
      >
        <!--Info Team-->
        <h2 class="pendaftaran-title">Pendaftaran</h2>
        <div class="team">
          <h4>Data Team</h4>
          <div class="teamname">
            <label for="namaTeam">Nama Tim </label>
            <br />
            <input
              data-toggle="tooltip"
              data-placement="top"
              title="Masukan Nama Tim Anda"
              type="text"
              name="teamName"
              id="namaTeam"
              placeholder="Nama Tim"
              required
            />
            <% participant.forEach(e => { if(e === body.teamName){ %>
            <p>adadad</p>
            <% } }); %>
          </div>
          <div class="abbrteam">
            <label for="singkatanTeam">Abbr </label>
            <br />
            <input
              data-toggle="tooltip"
              data-placement="top"
              title="Masukan Singkatan Tim Anda"
              type="text"
              required
              name="singkatanTeam"
              id="singkatanTeam"
              maxlength="5"
              placeholder="ABBR"
            />
          </div>
          <br />
          <div class="logotim" style="width: 150px;">
            <label for="logo">Logo Tim</label>
            <br />
            <input
              type="file"
              id="logo"
              data-toggle="tooltip"
              data-placement="top"
              title="Masukan Logo Anda (150 x 150px)"
              name="logo"
              class="filepond"
            />
          </div>
        </div>

        <!--Roster-->
        <div class="roster">
          <h4>Data Pemain</h4>
          <ul>
            <li>
              <div class="id1">
                <label for="idPemain">ID In Game #1</label>
                <br />
                <input
                  onkeydown="return checkPhoneKey(event.key)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan ID In Game Anda"
                  type="text"
                  required
                  name="idPlayer"
                  id="idPemain"
                  placeholder="1234567890"
                  minlength="8"
                  maxlength="10"
                  pattern="[0-9]+"
                />
              </div>
              <div class="player1">
                <label for="namaPemain">Nama Pemain #1</label>
                <br />
                <input
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan Nama In Game Anda"
                  type="text"
                  required
                  name="playerName"
                  maxlength="14"
                  id="namaPemain"
                  placeholder="Nick In Game"
                />
              </div>
            </li>
            <li>
              <div class="id2">
                <label for="idPemain">ID In Game #2 </label>
                <br />
                <input
                  onkeydown="return checkPhoneKey(event.key)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan ID In Game Anda"
                  type="text"
                  required
                  name="idPlayer2"
                  id="idPemain2"
                  placeholder="1234567890"
                  minlength="8"
                  maxlength="10"
                  pattern="[0-9]+"
                />
              </div>
              <div class="player2">
                <label for="namaPemain">Nama Pemain #2 </label>
                <br />
                <input
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan Nama In Game Anda"
                  type="text"
                  required
                  name="playerName2"
                  maxlength="14"
                  id="namaPemain2"
                  placeholder="Nick In Game"
                />
              </div>
            </li>
            <li>
              <div class="id3">
                <label for="idPemain">ID In Game #3 </label>
                <br />
                <input
                  onkeydown="return checkPhoneKey(event.key)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan ID In Game Anda"
                  type="text"
                  required
                  name="idPlayer3"
                  id="idPemain3"
                  placeholder="1234567890"
                  minlength="8"
                  maxlength="10"
                  pattern="[0-9]+"
                />
              </div>
              <div class="player3">
                <label for="namaPemain">Nama Pemain #3 </label>
                <br />
                <input
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan Nama In Game Anda"
                  type="text"
                  required
                  name="playerName3"
                  maxlength="14"
                  id="namaPemain3"
                  placeholder="Nick In Game"
                />
              </div>
            </li>
            <li>
              <div class="id4">
                <label for="idPemain">ID In Game #4 </label>
                <br />
                <input
                  onkeydown="return checkPhoneKey(event.key)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan ID In Game Anda"
                  type="text"
                  required
                  name="idPlayer4"
                  id="idPemain4"
                  placeholder="1234567890"
                  minlength="8"
                  maxlength="10"
                  pattern="[0-9]+"
                />
              </div>
              <div class="player4">
                <label for="namaPemain">Nama Pemain #4 </label>
                <br />
                <input
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Masukan Nama In Game Anda"
                  type="text"
                  required
                  name="playerName4"
                  maxlength="14"
                  id="namaPemain4"
                  placeholder="Nick In Game"
                />
              </div>
            </li>
          </ul>
        </div>

        <!--contact-->
        <div class="contact">
          <div class="noHP">
            <label for="noHP">Nomor HP (Aktif WA) </label>
            <br />
            <input
              onkeydown="return checkPhoneKey(event.key)"
              data-toggle="tooltip"
              data-placement="top"
              title="Masukan Nomor Handphone Yang Terhubung Dengan WA"
              type="tel"
              id="noHP"
              name="handphoneNumber"
              placeholder="+62"
              required
              minlength="11"
              maxlength="12"
              pattern="[0-9]+"
            />
          </div>
          <div class="email">
            <label for="email">Email </label>
            <br />
            <input
              data-toggle="tooltip"
              data-placement="top"
              title="Masukan Email Anda"
              type="email"
              required
              id="email"
              name="email"
              placeholder="@gmail.com"
            />
          </div>
        </div>
        <div class="submit">
          <input
            data-toggle="tooltip"
            dtoplacement="right"
            title="Pastikan Data Yang Anda Isi Adalah Benar"
            type="submit"
            value="DAFTAR"
            id="submit"
          />
        </div>
        <h4><%= participant.teamName %></h4>
      </form>
    </div>
    <%}%>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"
    ></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer type="text/javascript" src="./js/registration.js"></script>
  </body>
</html>
