* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #151a2c;
}

table {
  margin: 5px;
  padding: 10px;
}
table tr td {
  padding: 5px;
}

#form-wraper {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

#tournament-form {
  margin-top: 3em;
  transition: display 0.3s ease-in-out;
}
input:focus,
select {
  border: 2px solid #00deab;
  transition: ease-in-out 0.3s;
}
input:hover,
select {
  border: 2px solid #00deab;
  transition: ease-in-out 0.3s;
}

input,
select {
  background-color: #0e1013;
  height: 30px;
  color: white;
  text-indent: 10px;
  text-align: left;
  border: 2px solid rgb(85, 85, 85);
  outline: none;
  transition: ease-in-out 0.3s;
}

input[type="checkbox"] {
  width: 50px;
}

button {
  position: absolute;
  left: 30px;
  bottom: -30px;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  padding: 10px;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: #00deab;
  text-transform: uppercase;
  color: black;
  outline: none;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}
.teams {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto 20px;
}

.team {
  width: 100%;
  margin: 10px;
}

#gf {
  display: none;
}

@media screen and (min-width: 700px) {
  .container {
    display: flex;
  }
  #form-wraper {
    flex-direction: row;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  #tournament-form {
    margin-top: 0;
  }
  input[type="number"] {
    width: 70px;
  }
  .team {
    width: 150px;
  }
}
