@import url("https://fonts.googleapis.com/css?family=Girassol|Roboto&display=swap");

body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #151a2c;
  font-family: "Roboto", sans-serif;
}

div {
  color: white;
  width: 100%;
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: #00deab;
}

span {
  color: #00deab;
}

#sendEmail {
  cursor: pointer;
}
#sendEmail:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1000px) {
  div {
    background: #2d303e;

    border-radius: 30px;
    width: 60%;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.712);
  }
}
